DB_PASSWORD=
DB_USER=
DB_NAME=
DB_PORT=
DEV_ENGINE=
DEV_DB_NAME=
DEV_DB_USER=
DEV_DB_PASSWORD=
DEV_DB_HOST=

DEV_REDIS_CACHE_SERVER_PORT=
CELERY_BROKER_URL_DEV=
KAFKA_BOOTSTRAP_SERVERS=
REDIS_URL=


EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

OPENWEATHERMAP_API_KEY=

MQTT_HOST=
MQTT_PORT=

MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=

MLFLOW_REGISTERED_MODEL_NAME=
MODEL_TARGET_COLUMN=
MODEL_MAE_TARGET=
MODEL_IMPROVEMENT_TARGET=

USE_DB_FOR_PROD=