# =========================
# Core Backend (Django / API)
# =========================
django==5.2.7
django-environ
python-dotenv==1.0.0

djangorestframework==3.16.0
djangorestframework-simplejwt
djangorestframework-camel-case
drf-yasg[swagger-ui]

django-cors-headers
django-redis
channels
channels-redis
whitenoise
django-summernote

mysqlclient==2.2.0
redis
aioredis

# =========================
# Auth / Utils
# =========================
python-jose[cryptography]==3.3.0
google-auth

requests
pyyaml
shortuuid
unidecode
user-agents
ua-parser
Pillow
holidays

# =========================
# Async / Streaming / Realtime
# =========================
celery
flower==2.0.1          # Celery monitoring
uvicorn
paho-mqtt==2.1.0
confluent-kafka        # Optional: Kafka nếu scale ingestion

# =========================
# Data Science / ML Core
# =========================
numpy==2.1.2
pandas==2.2.3
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.2
statsmodels             # ARIMA / SARIMA

xgboost
prophet                 # Time-series forecasting
shap                    # Explainability


# =========================
# Deep Learning (Optional / Bonus)
# =========================
# torch, torchvision, torchaudio handled in Dockerfile for CPU optimization


# =========================
# Spatial / Geo AI
# =========================
geopandas
pykrige
folium

# =========================
# Data Quality / MLOps
# =========================
mlflow
great_expectations[cli]
evidently
prefect
dvc
optuna==4.0.0
pmdarima==2.1.0
workalendar==17.0.0


# =========================
# Dev / Testing / CI
# =========================
pytest
pytest-django
pylint
